

:root {
    --gray: rgba(115, 108, 99, 0.59);
    --blue: rgba(74, 118, 194, 0.59);
    --bg-color: #f9f9f9;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--gray);
    margin: 0;
    padding: 0;
    position: relative;
}

#logo {
 cursor: pointer;
 transition: transform 1s ease;
}

#logo:hover {
   color: var(--blue);
   transform: scale(1.05);
   }

.navbar {
    background: #ffffff;
    color: var(--gray);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    top: 0;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

#nav {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    background-color: var(--bg-color);
    height: 80vh;
}

#herotext {
margin: 0px 20px;
}

#hero-img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--blue);
    border-radius: 50%; 
    margin: 0px 20px 20px 20px;  
}   

.namn {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--blue);
    margin: 0px 0px;
    }
    
    #tech {
        margin-top: 40px;
        font-family: "Fjalla One";
        font-size: 15px;
        display: flex;
        gap: 1rem;
    }

    #techlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #techstack {
        width: 65px;
        height: 65px;
    }

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px;

}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 50px 50px 0px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.projects {
    background: #fff;
    width: 70vw;
    height: 20vw;
    margin: 30px;
    padding: 20px;

}

#contact {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: F1F1F1;
    color: rgba(115, 108, 99, 0.59);
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: x-small;
    width: 100%;
    min-height: 100px;
}

.text {
    min-width: 300px;
    background-color: #fafafa;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
    border-bottom: solid #F1F1F1;
}

#firstletter::first-letter {
    font-size: xx-large;
  }

.form {
    display: flex;
    flex-direction: column;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color:rgba(115, 108, 99, 0.59);
}

a:hover {
    color: var(--blue);
}

.rubrik {
    font-size: 30px;
    padding: 1px;
    font-family: 'Fjalla One', sans-serif;
} 

    .underrubrik {
        font-size: 30px;
        padding: 1px;
        font-family: 'Fjalla One', sans-serif;
    }    

    #menu {
       margin: 20px;
    }



@media only screen and (min-width: 800px) {
 
    #menu {
        display: none;
    }

    }


@media only screen and (max-width: 800px) {
  
      .hero {
        padding: 20px;
        border: 0;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        }
    
    #herotext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90vw;
        margin: 0;
        }
    
        .namn {
            font-size: 40px;
            font-family: 'Fjalla One', sans-serif;
            color: var(--blue);
            }

        #hero-img {
            width: 250px;
            height: 250px;
            border: 2px solid var(--blue);
            border-radius: 50%
          }

          #nav {
            display:none;
        }

          #logo {
            margin-right: auto;
            margin-left: 30px;
        }



}
  