:root {
    --gray: rgb(0, 0, 0);
    --blue: rgb(74, 118, 194);
    --bg-color: #f4f4f4;
}

.menu_link {
    color: var(--gray);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    cursor: pointer;
    transition: transform 1s ease;
}

#logo:hover {
    color: var(--blue) !important;
    transform: scale(1.15);
}

.navbar {
    background: #ffffff;
    color: var(--gray);
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    position: fixed;
}

#nav {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    background-color: var(--bg-color);
    height: 80vh;
}

#github {
    height: 40px;
    width: 40px;
}

#herotext {
    margin: 0px 20px;
}

#hero-img {
    width: 350px;
    height: 350px;
    border: 5px solid var(--blue);
    border-radius: 50%; 
    margin: 0px 0px 0px 20px;  
    box-shadow: 12px 12px 15px 10px rgba(0, 0, 0, 0.2);    
    animation: hero-img 6s linear infinite;
}   
@keyframes hero-img {
    0%, 100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        /* Add other properties to change */
    }
    50% {
        border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
        /* Add other properties to change */
    }
}


.img__shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 40px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    min-height: 150px;
    padding: 20px;
}

.img__ {
    width: 98%;
    height: 98%;
    border: 1px solid var(--gray);
    border-radius: 15px;
}

.btn_ {
    background-color: fff;
    color: var(--gray);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    border: solid 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btns {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

#namn {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--blue);
    margin: 0px 0px;
}
    
#tech {
    margin-top: 40px;
    font-family: "Fjalla One";
    font-size: 15px;
    display: flex;
    gap: 1rem;
}

#techlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#techstack {
    width: 165px;
    height: 65px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 50px 50px 0px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.projects {
    background: #fff;
    min-height: 30vw;
    width: 100%;
    padding: 25px 5px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#project_desc {
    padding: 5px 40px;
    font-size: 16px;
}

#contact-section {
    background-color: var(--bg-color);
    padding: 30px 30px;
}

#contact {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 25px 0px;
}

.social {
    padding: 3px;
}

.text {
    min-width: 300px;
    background-color: #fafafa;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
    border-bottom: solid #F1F1F1;
}

#firstletter::first-letter {
    font-size: xx-large;
}

.form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--gray)
}

a:hover {
    color: var(--blue);
}


.rubrik {
    font-size: 30px;
    padding: 1px;
    font-weight: 100;
    font-family: 'Fjalla One', sans-serif;
}

.underrubrik {
    font-size: 30px;
    padding: 1px;
    font-family: 'Fjalla One', sans-serif;
}

#menu {
    margin: 20px;
}

#website-preview {
    width: 70vw;
    height: 20vw;
    overflow: none;
}

#iframe-preview {
    width: 100%;
    height: 100%;
    border: none;
}

article {
    border-radius: 15px;
    padding: 1px 8px;
    background: var(--bg-color);
}
    
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    width: 100%;
    min-height: 100px;
}

svg {
    width: 35px;
    height: 35px;
}

svg:hover path {
    fill: var(--blue);
}

#mobile_menu {
    display: none;
}


@media only screen and (max-width: 800px) {
    #home {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        height: 100vh;  

    }

    #herotext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 92vw;
        margin: 0;
    }
    
    .namn {
        font-size: 40px;
        font-family: 'Fjalla One', sans-serif;
        color: var(--blue);
    }

    #hero-img {
        width: 320px;
        height: 320px;
        border: 2px solid var(--blue);
        border-radius: 50%;
        margin: 10px 20px 40px 20px;
    }

    #mobile_menu {
        display: flex;
        width: 30px;
        padding: 0px 10px;
        cursor: pointer;
    }


    #nav {
        display: none;
    }

    #logo {
        margin-right: auto;
        margin-left: 7px;
        font-size: 15px;
    }

    #tech {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img__shop {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
        margin: 25px 5px;
        padding: 10px;
    }

    .img__ {
        border: 1px solid var(--gray);
        border-radius: 15px;
    }

    .projects {
        width: 90vw;
    }

    #namn {
        font-size: 40px;
    }
    
    
}





/* MOBILE NAVIGATION */


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;
  }
  
  .background-overlay {
    display: block; /* Changed from none to block */
    position: fixed;
    top: 0;
    left: 60%;  /* Starts from the middle to cover the remaining 50% */
    height: 100%;
    width: 60%; /* Covers the rest of the screen */
    background-color: rgba(0,0,0, 0.4); /* Darkened background */
    z-index: 1;  /* Ensure it's below the main overlay */
    opacity: 0;  /* Start fully transparent */
    transition: opacity 0.2s ease; /* Smooth transition for opacity */
}

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }