:root {
    --gray: rgba(115, 108, 99, 0.59);
    --blue: rgba(74, 118, 194, 0.59);
    --bg-color: #f4f4f4;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--gray);
    margin: 0;
    padding: 0;
    position: relative;
}

#logo {
    cursor: pointer;
    transition: transform 1s ease;
}

#logo:hover {
    color: var(--blue) !important;
    transform: scale(1.15);
}

.navbar {
    background: #ffffff;
    color: var(--gray);
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

#nav {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    background-color: var(--bg-color);
    height: 80vh;
}

#github {
    height: 40px;
    width: 40px;
}

#herotext {
    margin: 0px 20px;
}

#hero-img {
    width: 350px;
    height: 350px;
    border: 2px solid var(--blue);
    border-radius: 50%; 
    margin: 0px 20px 20px 20px;  
    box-shadow: 12px 12px 15px 10px rgba(0, 0, 0, 0.2);    
}   

.img__shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 40px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    min-height: 150px;
    padding: 20px;
}

.img__ {
    width: 98%;
    height: 98%;
    border: 2px solid var(--gray);
    border-radius: 15px;
}

.btn_ {
    background-color: fff;
    color: var(--gray);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    width: 120px;
    font-size: 18px;
    border: solid 1px lightgray;
}

.namn {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--blue);
    margin: 0px 0px;
}
    
#tech {
    margin-top: 40px;
    font-family: "Fjalla One";
    font-size: 15px;
    display: flex;
    gap: 1rem;
}

#techlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#techstack {
    width: 165px;
    height: 65px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 50px 50px 0px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.projects {
    background: #fff;
    min-height: 30vw;
    width: 100%;
    padding: 25px 5px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#project_desc {
    padding: 5px 40px;
    font-size: 18px;
}

#contact-section {
    background-color: var(--bg-color);
    padding: 30px 30px;
}

#contact {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 25px 0px;
}

.social {
    padding: 3px;
}

.text {
    min-width: 300px;
    background-color: #fafafa;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
    border-bottom: solid #F1F1F1;
}

#firstletter::first-letter {
    font-size: xx-large;
}

.form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: rgba(115, 108, 99, 0.59);
}

a:hover {
    color: var(--blue);
}

.rubrik {
    font-size: 30px;
    padding: 1px;
    font-weight: 100;
    font-family: 'Fjalla One', sans-serif;
}

.underrubrik {
    font-size: 30px;
    padding: 1px;
    font-family: 'Fjalla One', sans-serif;
}

#menu {
    margin: 20px;
}

#website-preview {
    width: 70vw;
    height: 20vw;
    overflow: none;
}

#iframe-preview {
    width: 100%;
    height: 100%;
    border: none;
}

article {
    border-radius: 15px;
    padding: 1px 8px;
    background: var(--bg-color);
}
    
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    width: 100%;
    min-height: 100px;
}

svg {
    width: 35px;
    height: 35px;
}

svg:hover path {
    fill: var(--blue);
}

@media only screen and (max-width: 800px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        height: 100vh;  
    }
    
    #herotext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 92vw;
        margin: 0;
    }
    
    .namn {
        font-size: 40px;
        font-family: 'Fjalla One', sans-serif;
        color: var(--blue);
    }

    #hero-img {
        width: 320px;
        height: 320px;
        border: 2px solid var(--blue);
        border-radius: 50%;
        margin: 40px 20px 40px 20px;
    }

    #nav {
        font-size: 15px;
        gap: 0.9rem;
        margin-right: 7px;
    }

    #logo {
        margin-right: auto;
        margin-left: 10px;
        font-size: 16px;
    }

    #tech {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img__shop {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
        margin: 25px 5px;
        padding: 10px;
    }

    .img__ {
        border: 2px solid var(--gray);
        border-radius: 15px;
    }

    .projects {
        width: 90vw;
    }
}

